
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="10%" fxLayoutAlign="space-around center">

  
  <mat-card  fxFlex='35'  class="login-matcard">
   
    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

    <p class="title-center">Change Password </p> 
    
    <mat-divider></mat-divider>
    <br>
    
    <!-- <h3 class="title-center"> Sign up</h3> -->
    


    <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your Password" [formControl]="password" [type]="hide ? 'text' : 'password'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

      <mat-error *ngIf="password.hasError('required')">
        Password Required
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
        Password Must be at least 6 letters</mat-error>
      <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('required')">
        Password with more than 24 characters.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-divider></mat-divider>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label> New Password</mat-label>
    <input matInput placeholder="Enter your new Password" [formControl]="newPassword" [type]="hide ? 'text' : 'password'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

    <mat-error *ngIf="newPassword.hasError('required')">
      newPassword Required
    </mat-error>
    <mat-error *ngIf="newPassword.hasError('minlength') && !newPassword.hasError('required')">
      Password Must be at least 6 letters</mat-error>
    <mat-error *ngIf="newPassword.hasError('maxlength') && !newPassword.hasError('required')">
      new Password with more than 24 characters.
    </mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>verify Password</mat-label>
  <input matInput placeholder="verify your New Password" [formControl]="verifyNewPassword"
    [type]="hide ? 'text' : 'password'">
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  <mat-error *ngIf="verifyNewPassword.hasError('required')">
    verify Password Required
  </mat-error>

  <mat-error *ngIf="verifyNewPassword.hasError('mustMatch') && !verifyNewPassword.hasError('required')">
    new Password Do not Match
  </mat-error>
</mat-form-field>

<!-- put buttons here -->

<br>


    
      <div class="example-button-row">
        <button class="full-width" type="submit" mat-raised-button color="accent"
          [disabled]="loading">Change Password</button>
      </div>
      <br>
      
      <mat-divider></mat-divider>
      
<br>

<a mat-button style='float: right;' color="primary" routerLink="/auth/profile"> back to Profile</a>
      

    
    </form>
  </mat-card>
</div>
