
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="10%" fxLayoutAlign="space-around center">

  
  <mat-card fxFlex='35'  class="login-matcard">
   
    <mat-card-actions class='actionButtons'>

      <button mat-flat-button color="primary" style='float: left;' (click)="facebookLogin()">Sign up with
        FB</button>

      <button mat-flat-button color="warn" (click)="googleLogin()" style='float: right;'>Sign up with Google</button>



    </mat-card-actions>
    
    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

    <p class="title-center">Sign up</p> 
    <br>
    <!-- <h3 class="title-center"> Sign up</h3> -->
    


    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <input matInput placeholder=" Full Name" [formControl]="fullname" required>
        <mat-error *ngIf="fullname.hasError('required')"> full name is required</mat-error>
        <mat-error *ngIf="fullname.hasError('minlength') && !fullname.hasError('required')">
          fullname Must be at least 6 letters</mat-error>
        <mat-error *ngIf="fullname.hasError('maxlength')">
          fullname with more than 40 characters.
        </mat-error>
      </mat-form-field>

      
      
      <mat-form-field appearance="outline" class="full-width">
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.hasError('required')"> Email is Required</mat-error>
        <mat-error *ngIf="!email.hasError('required') && email.hasError('email')"> A Valid Email is Required</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <input matInput placeholder="Enter your Password" [formControl]="password" [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

        <mat-error *ngIf="password.hasError('required')">
          Password Required
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
          Password Must be at least 6 letters</mat-error>
        <mat-error *ngIf="password.hasError('maxlength')">
          Password with more than 24 characters.
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
        <input matInput placeholder="verify your Password" [formControl]="verifyPassword" [errorStateMatcher]="matcher"
          [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="verifyPassword.hasError('required')">
          Password Required
        </mat-error>

        <mat-error *ngIf="verifyPassword.hasError('passwordsDonotMatch')">Password Do not Match</mat-error>
      </mat-form-field>

      <!-- put buttons here -->
    <br>
    
      <div class="example-button-row">
        <button class="full-width" type="submit" mat-raised-button color="primary"
          [disabled]="loading">Register</button>
      </div>

<br>

<mat-divider></mat-divider>
<br>
    
      <div class="example-button-row">

        <a mat-button color="primary" routerLink="/auth/login"> Please Sign In if you are a member already!</a>
      </div>


    </form>
  </mat-card>
</div>
