
<div fxLayout="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
  fxLayoutGap="5%" fxLayoutAlign="center center">

  
  <mat-card fxFlex='50'  class="register-matcard">
   
    

    
    
    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

    


    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">

    <h3> Enter your Email Please</h3>  
      
      <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.hasError('required')"> Email is Required</mat-error>
        <mat-error *ngIf="!email.hasError('required') && email.hasError('email')"> A Valid Email is Required</mat-error>

      </mat-form-field>
      <!-- put buttons here -->
   
    
      <div class="example-button-row">
        <button class="full-width" type="submit" mat-raised-button color="primary"
          [disabled]="loading">Send Email to Reset</button>
      </div>




    </form>
  </mat-card>
</div>
