
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="5%" fxLayoutAlign="space-around center">

  
  <mat-card fxFlex='35'  class="forgotPassword-matcard">
   
    
    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

    <form [formGroup]="passwordRestForm" (ngSubmit)="onSubmit()">

 
      
      
      <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.hasError('required')"> Email is Required</mat-error>
        <mat-error *ngIf="!email.hasError('required') && email.hasError('email')"> A Valid Email is Required</mat-error>

      </mat-form-field>

   
    
      <div class="example-button-row">
        <button class="full-width" type="submit" mat-raised-button color="primary"
          [disabled]="loading">Reset Password</button>
      </div>



    </form>
  </mat-card>
</div>
