<div fxLayout="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="space-around center">


  <mat-card fxFlex='50' class="login-matcard">


   
      <button mat-flat-button class="full-width" color="primary" (click)="facebookLogin()">login via FB <i class="material-icons">
          how_to_reg
          </i></button>
          <br>
          <br>
          
          
          

      <button mat-flat-button class="full-width" color="warn" (click)="googleLogin()" >login via Google <i class="material-icons">
          how_to_reg
          </i></button>


<br>

    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
    
    <p  class="title-center">OR</p>

    

    <h3 class="title-center"> Sign In</h3>


    <form [formGroup]="loginForm" class="lgForm" (ngSubmit)="onSubmit()">



      <mat-form-field  appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [formControl]="email" required>
        <mat-error *ngIf="email.hasError('required')"> Email is Required</mat-error>
        
        <mat-error *ngIf=" !email.hasError('required') && email.hasError('email')"> Must be an email</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
          <mat-label>password</mat-label>
        <input matInput placeholder=" Password" [formControl]="password" [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix (click)="hide = !hide" color='primary'>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="password.hasError('required')">Password is Required</mat-error>
      </mat-form-field>



      <!-- put buttons here -->
      <div class="example-button-row">
        <button color="primary" class="full-width" type="submit" mat-raised-button color="primary"
          [disabled]="loading">Login</button>
      </div>
    </form>
    <br>
  
    
    <a mat-button color="primary" style='float: right;' routerLink="/auth/forgotPassword" >forgot password ?</a>
           
    
    

     
    <br>
<br>    
      <br>
      
    <a mat-stroked-button color="primary" class="full-width" routerLink="/auth/register" >Register to become a Member</a>
      <!-- <button color="primary" class="full-width" type="submit" mat-raised-button color="primary"
      [disabled]="loading">Login</button>
   -->
   <br>
    
    


  </mat-card>


</div>



<!-- <h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Login</button>
        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form> -->
