<mat-toolbar  color="primary">
  
     <a mat-button text-center routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="example-icon">home</mat-icon>&nbsp;{{title}}
      </a>
        
    <span class="example-fill-remaining-space"></span>
    
    <div *ngIf="currentUser">
        <button mat-stroked-button (click)="onLogout()">Logout</button>
        &nbsp;
        <a mat-button  routerLink="/auth/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{currentUser.fullname}}</a>
      </div>
    
      <div *ngIf="!currentUser">
        <a mat-button color='accent'  routerLink="/auth/register" 
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Register</a>
        &nbsp;
        <a mat-button  routerLink='/auth/login' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sign
          in</a>
      </div>
    
  </mat-toolbar>
