

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="10%" fxLayoutAlign="space-around center">
  <mat-card  fxFlex='50' class="profile-card">
    
    <mat-card-content>
        <label>     Full Name
      <mat-card-title>{{currentUser.fullname}}</mat-card-title>
    </label>

<br>
<label>    ID
  <mat-card-title>{{currentUser._id}}</mat-card-title>
</label>

Email
      <mat-card-title>{{currentUser.email}}</mat-card-title>
      <mat-list *ngFor="let role of currentUser.roles">
          <mat-list-item>
          {{role}}
            </mat-list-item> 
     
      </mat-list>      

      
    
    </mat-card-content>
    <mat-card-actions>
    <div><a mat-button color="primary"routerLink="/auth/edit" >Edit <i class="material-icons">
          settings
          </i></a>
        </div>
      
         <div *ngIf="localUser()">
            <a mat-button color="primary"routerLink="/auth/changePassword" >Change Password</a>
            <a mat-button color="primary"routerLink="/auth/edit" >verify Email</a>
           
         </div>       
         <br>
         <br>
         <div *ngIf="isAdmin()">
          <button  mat-raised-button class="full-width"  color="primary" (click)="onAdmin()">
           Admin View
          </button>  
          
                
         </div> 
      
    </mat-card-actions>
  </mat-card>
  

</div>
