
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="10%" fxLayoutAlign="space-around center">

  
  <mat-card  fxFlex='35'  class="login-matcard">
   
    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

    <p class="title-center">Change Password </p> 
    
   

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your Password" [formControl]="password" [type]="hide ? 'text' : 'password'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

      <mat-error *ngIf="password.hasError('required')">
        Password Required
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
        Password Must be at least 6 letters</mat-error>
      <mat-error *ngIf="password.hasError('maxlength') ">
        Password with more than 24 characters.
      </mat-error>
    </mat-form-field>
   
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>verify Password</mat-label>
  <input matInput placeholder="verify your New Password" [formControl]="verifyPassword"
    [type]="hide ? 'text' : 'password'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="verifyPassword.hasError('required')">
    verify Password Required
  </mat-error>

  <mat-error *ngIf="verifyPassword.hasError('mustMatch') && !verifyPassword.hasError('required')">
    new Password Do not Match
  </mat-error>
</mat-form-field>

      <div class="example-button-row">
        <button class="full-width" type="submit" mat-raised-button color="accent"
          [disabled]="loading">Change Password</button>
      </div>
      <br>
      

    
    </form>
  </mat-card>
</div>
